<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>11</integer>
		<key>name</key>
		<string>Rinat-11-(0-0)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>10</integer>
		<key>name</key>
		<string>Rinat-10-(1-1)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>10</integer>
		<key>name</key>
		<string>Rinat-10-(2-2)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(3-3)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(4-4)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(5-5)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(6-6)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(7-7)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(8-8)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(9-9)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(10-10)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(11-11)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(12-12)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(13-13)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(14-14)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(15-15)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(16-16)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(17-17)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(18-18)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(19-19)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(20-20)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(21-21)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(22-22)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(23-23)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(24-24)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(25-25)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(26-26)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(27-27)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(28-28)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(29-29)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(30-30)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(31-31)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(32-32)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(33-33)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(34-34)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(35-35)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(36-36)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(37-37)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(38-38)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(39-39)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(40-40)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(41-41)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(42-42)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(43-43)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(44-44)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(45-45)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(46-46)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(47-47)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(48-48)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(49-49)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(50-50)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(51-51)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(52-52)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(53-53)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(54-54)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(55-55)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(56-56)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(57-57)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(58-58)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(59-59)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(60-60)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(61-61)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(62-62)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(63-63)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(64-64)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(65-65)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(66-66)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(67-67)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(68-68)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(69-69)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(70-70)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(71-71)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(72-72)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(73-73)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(74-74)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(75-75)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(76-76)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(77-77)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(78-78)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(79-79)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(80-80)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(81-81)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(82-82)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(83-83)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(84-84)</string>
	</dict>
	<dict>
		<key>me</key>
		<true/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(85-85)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(86-86)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(87-87)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(88-88)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(89-89)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(90-90)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(91-91)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(92-92)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(93-93)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(94-94)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(95-95)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(96-96)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(97-97)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(98-98)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(99-99)</string>
	</dict>
</array>
</plist>
