<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>11</integer>
		<key>name</key>
		<string>Rinat-11-(0-0)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>10</integer>
		<key>name</key>
		<string>Rinat-10-(1-1)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>10</integer>
		<key>name</key>
		<string>Rinat-10-(2-2)</string>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(3-3)</string>
	</dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>	<dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>11</integer>
    <key>name</key>
    <string>Rinat-11-(0-0)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(1-1)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>10</integer>
    <key>name</key>
    <string>Rinat-10-(2-2)</string>
  </dict>
  <dict>
    <key>me</key>
    <false/>
    <key>photo</key>
    <string>photo</string>
    <key>score</key>
    <integer>9</integer>
    <key>name</key>
    <string>Rinat-9-(3-3)</string>
  </dict>
</array>
</plist>
