<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>11</integer>
		<key>name</key>
		<string>Rinat-11-(0-0)</string>
		<key>time</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>10</integer>
		<key>name</key>
		<string>Rinat-10-(1-1)</string>
		<key>time</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>10</integer>
		<key>name</key>
		<string>Rinat-10-(2-2)</string>
		<key>time</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(3-3)</string>
		<key>time</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(4-4)</string>
		<key>time</key>
		<integer>96</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(5-5)</string>
		<key>time</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(6-6)</string>
		<key>time</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(7-7)</string>
		<key>time</key>
		<integer>116</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(8-8)</string>
		<key>time</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(9-9)</string>
		<key>time</key>
		<integer>63</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(10-10)</string>
		<key>time</key>
		<integer>110</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(11-11)</string>
		<key>time</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(12-12)</string>
		<key>time</key>
		<integer>94</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(13-13)</string>
		<key>time</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>9</integer>
		<key>name</key>
		<string>Rinat-9-(14-14)</string>
		<key>time</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(15-15)</string>
		<key>time</key>
		<integer>108</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(16-16)</string>
		<key>time</key>
		<integer>68</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(17-17)</string>
		<key>time</key>
		<integer>62</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(18-18)</string>
		<key>time</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(19-19)</string>
		<key>time</key>
		<integer>51</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(20-20)</string>
		<key>time</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(21-21)</string>
		<key>time</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>8</integer>
		<key>name</key>
		<string>Rinat-8-(22-22)</string>
		<key>time</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(23-23)</string>
		<key>time</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(24-24)</string>
		<key>time</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(25-25)</string>
		<key>time</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(26-26)</string>
		<key>time</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(27-27)</string>
		<key>time</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(28-28)</string>
		<key>time</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(29-29)</string>
		<key>time</key>
		<integer>48</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(30-30)</string>
		<key>time</key>
		<integer>116</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(31-31)</string>
		<key>time</key>
		<integer>63</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(32-32)</string>
		<key>time</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(33-33)</string>
		<key>time</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(34-34)</string>
		<key>time</key>
		<integer>96</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>7</integer>
		<key>name</key>
		<string>Rinat-7-(35-35)</string>
		<key>time</key>
		<integer>104</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(36-36)</string>
		<key>time</key>
		<integer>109</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(37-37)</string>
		<key>time</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(38-38)</string>
		<key>time</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(39-39)</string>
		<key>time</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>me</key>
		<true/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(40-40)</string>
		<key>time</key>
		<integer>79</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(41-41)</string>
		<key>time</key>
		<integer>77</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(42-42)</string>
		<key>time</key>
		<integer>93</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(43-43)</string>
		<key>time</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(44-44)</string>
		<key>time</key>
		<integer>76</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>6</integer>
		<key>name</key>
		<string>Rinat-6-(45-45)</string>
		<key>time</key>
		<integer>78</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(46-46)</string>
		<key>time</key>
		<integer>112</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(47-47)</string>
		<key>time</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(48-48)</string>
		<key>time</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(49-49)</string>
		<key>time</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(50-50)</string>
		<key>time</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(51-51)</string>
		<key>time</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(52-52)</string>
		<key>time</key>
		<integer>94</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(53-53)</string>
		<key>time</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(54-54)</string>
		<key>time</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rinat-5-(55-55)</string>
		<key>time</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(56-56)</string>
		<key>time</key>
		<integer>114</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(57-57)</string>
		<key>time</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(58-58)</string>
		<key>time</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(59-59)</string>
		<key>time</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(60-60)</string>
		<key>time</key>
		<integer>96</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(61-61)</string>
		<key>time</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(62-62)</string>
		<key>time</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(63-63)</string>
		<key>time</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(64-64)</string>
		<key>time</key>
		<integer>112</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(65-65)</string>
		<key>time</key>
		<integer>73</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(66-66)</string>
		<key>time</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(67-67)</string>
		<key>time</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>4</integer>
		<key>name</key>
		<string>Rinat-4-(68-68)</string>
		<key>time</key>
		<integer>62</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(69-69)</string>
		<key>time</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(70-70)</string>
		<key>time</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(71-71)</string>
		<key>time</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(72-72)</string>
		<key>time</key>
		<integer>68</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(73-73)</string>
		<key>time</key>
		<integer>107</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(74-74)</string>
		<key>time</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(75-75)</string>
		<key>time</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>3</integer>
		<key>name</key>
		<string>Rinat-3-(76-76)</string>
		<key>time</key>
		<integer>101</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(77-77)</string>
		<key>time</key>
		<integer>71</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(78-78)</string>
		<key>time</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(79-79)</string>
		<key>time</key>
		<integer>114</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(80-80)</string>
		<key>time</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(81-81)</string>
		<key>time</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(82-82)</string>
		<key>time</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(83-83)</string>
		<key>time</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>2</integer>
		<key>name</key>
		<string>Rinat-2-(84-84)</string>
		<key>time</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(85-85)</string>
		<key>time</key>
		<integer>121</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(86-86)</string>
		<key>time</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(87-87)</string>
		<key>time</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(88-88)</string>
		<key>time</key>
		<integer>76</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(89-89)</string>
		<key>time</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(90-90)</string>
		<key>time</key>
		<integer>117</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rinat-1-(91-91)</string>
		<key>time</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(92-92)</string>
		<key>time</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(93-93)</string>
		<key>time</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(94-94)</string>
		<key>time</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(95-95)</string>
		<key>time</key>
		<integer>67</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(96-96)</string>
		<key>time</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(97-97)</string>
		<key>time</key>
		<integer>73</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(98-98)</string>
		<key>time</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>me</key>
		<false/>
		<key>photo</key>
		<string>photo</string>
		<key>score</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rinat-0-(99-99)</string>
		<key>time</key>
		<integer>27</integer>
	</dict>
</array>
</plist>
